body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/* stay_focused_section_css*/
.stay_focused_section_wrapper{
    display: flex;
    margin-top: 50px;
}
.stay_focused_left_site_content{
    width: 50%;
    padding-left: 8%;
    margin-top: 50px;
}
.stay_focused_left_site_content h1{
    padding-left: 5px;
    font-size: 50px;
    margin: 0px;
}
.stay_focused_left_site_content p{
    padding-top: 20px;
    padding-bottom: 10px;
}
.title_left_border{
    border-left: 5px solid #DF3258;
}
.title_color{
    color: #DF3258;
}
.stay_focused_section_wrapper .stay_focused_left_site_content .btn{
    background-color: #DF3258;
    padding: 10px 40px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

.stay_focused_right_site_content{
    width: 50%;
    padding-left: 8%;
}
.stay_focused_right_site_content img{
    width: 80%;
}

/*Mission_in_2022_css*/
.Mission_in_2022_wrapper{
margin-top: 100px;
}
.Mission_in_2022_wrapper h1{
text-align: center;
font-size: 50px;
}
.Mission_in_2022_box_wrapper{
    display: flex;
    padding-left: 8%;
    padding-right: 8%;
}
.Mission_in_2022_single_box{
    width: 33.33%;
    padding: 2%;
    border-radius: 10px;
 
}
.Mission_in_2022_single_box img{
    width: 30%;
}
#Mission_box_color{
    background-color: #E4F8FC;
    margin-right: 3%;
}
#Vission_box_color{
    background-color: #df32572f;
}
#Goals_box_color{
    background-color: #ffee0034;
    margin-left: 3%;
}